@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/extends";

/////////////// Links
.link,
a {
    color: $default-link-color;
    text-decoration: none;

    &:hover {
        // color: currentColor; causing an issue with polices box-info header links
        text-decoration: underline;
    }

    &:focus {
        text-shadow: none;
        box-shadow: none;
        outline: none;
        text-decoration: none;
        @include button-focus($border-color: $focus-button-border);
        @include border-radius;
    }

    // import other link types here
    @import "destructive";
    @import "icon";
}

.a--link-underline {
    text-decoration: underline;
}

.a--link-color-dark {
    color: $default-text-color;
}

@import "new-window";
@import "breadcrumbs";
