{
    "defaultSeverity": "warning",
    "rules": {
        "block-no-empty": true,
        "color-no-invalid-hex": true,
        "font-family-no-duplicate-names": true,
        "font-family-name-quotes": "always-unless-keyword",
        "unit-no-unknown": true,
        "shorthand-property-no-redundant-values": true,
        "property-no-unknown": true,
        "max-nesting-depth": 4,
        # TODO: some day slowly lower this nesting depth
        "no-duplicate-selectors": true,
        "no-empty-source": true,
        "no-extra-semicolons": true,
        "no-invalid-double-slash-comments": true,
        "color-named": never,
        "value-no-vendor-prefix": true,
        "declaration-block-single-line-max-declarations": 1,
        "selector-max-attribute": 2,
        # "selector-max-specificity": "0,2,0", TODO this would be amazing to get to some day
        "font-weight-notation": "numeric",
        "function-whitespace-after": "always",
        "function-name-case": "lower",
        "function-max-empty-lines": 0,
        "number-leading-zero": "never",
        "number-no-trailing-zeros": true,
        "string-quotes": "single",
        "length-zero-no-unit": true,
        "unit-case": "lower",
        "value-keyword-case": "lower",
        "value-list-comma-space-after": "always",
        "value-list-comma-newline-before": "never-multi-line",
        "value-list-max-empty-lines": 0,
        "property-case": "lower",
        "declaration-colon-space-after": "always",
        "declaration-block-semicolon-newline-after": "always",
        "indentation": 4,
        "max-empty-lines": 2,
        "no-eol-whitespace": true,
        }
}
