.breadcrumbs {
    font-size: $smaller-font-size;

    a {
        color: $default-text-color;
        text-decoration: underline;

        &:hover {
            color: $default-link-color;
        }
    }

    i {
        font-size: $smallest-font-size;
        margin: 0 8px;
        line-height: 1.5em;
        display: inline-block;
        vertical-align: text-top;
    }
}
