@import "../../global/variables";
@import "../../global/mixins";
@import "../../global/extends";

/////////////// Links
.link,
a {
    color: $default-link-color;
    text-decoration: none;

    &:hover {
        // color: currentColor; causing an issue with polices box-info header links
        text-decoration: underline;
    }

    &:focus {
        text-shadow: none;
        box-shadow: none;
        outline: none;
        border: none;
        text-decoration: none;
        //padding:0; this may be problematic but can cause oddities for non inline links
        @include border-radius;
        @include box-shadow(0 0 0 1px $white, 0 0 0 2px currentColor);
    }

    // import other link types here
    @import "destructive";
    @import "icon";
}

.a--link-underline {
    text-decoration: underline;
}

.a--link-color-dark {
    color: $default-text-color;
}

@import "new-window";
@import "breadcrumbs";
