%icon {
    @include duo-icons;
    font-size: 1rem;

    &:hover {
        text-decoration: none;
    }
}

%icon-before,
.icon:before {
    @include duo-icons;
    padding-right: .25rem;
}

%icon-after,
.icon:after {
    @include duo-icons;
    padding-left: .125rem;
}

%no-box-shadow {
    @include box-shadow(none);
}

%button-reset {
    background-color: transparent;
    border: none;
    padding: 0;
}
