@import '../colors/all-colors';

// Size
$size-4: .25rem; /* 4/16 */
$size-8: .5rem; /* 8/16 */
$size-12: .75rem; /* 12/16 These should only be used for font sizing */
$size-14: .875rem; /* 14/16 These should only be used for font sizing */
$size-16: 1rem; /* 16/16 */
$size-20: 1.25rem; /* 20/16 These should only be used for font sizing */
$size-24: 1.5rem; /* 24/16 */
$size-32: 2rem; /* 32/16 */
$size-40: 2.5rem; /* 40/16 */
$size-48: 3rem; /* 48/16 */
$size-56: 3.5rem; /* 56/16 */

// Base colors, fonts and sizes
$base-color: $grey-darker;
$base-link-color: $info-blue;
$base-font-family: 'NeueHaasGrotesk', 'Helvetica Neue', helvetica, arial, sans-serif;
$base-letter-spacing: .02em;
//font weights
$base-font-weight: 300;
$medium-font-weight: 600;
$bold-font-weight: 900;
$base-border-color: $hover-input-border-color;
//font sizes & line heights
$base-font-size: $size-14;
$base-line-height: $size-24;
$small-line-height: $size-16;
$medium-line-height: $size-32;
$large-line-height: $size-40;
$smallest-font-size: .625rem; /* 10/16 */
$smaller-font-size: $size-12;
$small-font-size: $size-14;
$medium-font-size: $size-16;
$large-font-size: $size-20;
$largest-font-size: $size-32;

// Margins
$small-margin-spacing: $size-8;
$mid-margin-spacing: $size-16;
$default-margin-spacing: $size-24;
$large-margin-spacing: $size-32;
$xlarge-margin-spacing: $size-48;
$header-margin-spacing: $size-16;
$header-margin-bottom-spacing: $size-4;
$large-header-margin-bottom-spacing: $size-12;
$h1-header-margin-bottom-spacing: $size-24;
$default-column-gap-margin: $mid-margin-spacing;

// Padding
$default-padding-spacing: $size-16;
$xsmall-padding-spacing: $size-4;
$small-padding-spacing: $size-12;
$mid-padding-spacing: $size-16;
$large-padding-spacing: $size-24;
$xlarge-padding-spacing: $size-32;

// Borders
$default-border-width: 1px;
$mid-border-width: 2px;
$large-border-width: 4px;

// Heading fonts and colors
$heading-color: map-get($gray, dark);
$heading-font-family: 'NeueHaasGrotesk', 'Helvetica Neue', helvetica, arial, sans-serif;

$icon-font-family: 'Duo Admin Icons';

///////// Icons
$trashcan: '\e043';
$lessThanThin: '\e109';
$lessThan: '\e02c';
$downCarret: '\e02f';
$upCarret: '\e108';
$greaterThan: '\e049';
$magnify: '\e02a';
$close: '\e032';
$confirm: '\e033';
$alert: '\e045';
$info: '\e0d0';

// Transitions
$delayed-slow-ease: ease-in-out 200ms 80ms;
$slow-ease: ease-in-out 200ms 0ms;
$fast-ease: ease-in-out 125ms 0ms;
$super-fast-ease: ease-in-out 80ms 0ms;

$border-radius: 4px;

// Duo Prompt specific?
$small-screen-breakpoint: 360px;
$medium-screen-breakpoint: 480px;
$large-screen-breakpoint: 600px;

$labeled-row-button-breakpoint: 505px;
$labeled-row-button-breakpoint-fr-de: 612px;

$height: 330px;

$help-overlay-z: 20;
$darken-overlay-z: 15;


$filter-container-width: 24rem;