@import "../colors/all-colors";

// Base colors, fonts and sizes
$base-color: $grey-darker;
$base-link-color: $info-blue;
$base-font-family: 'NeueHaasGrotesk', 'Helvetica Neue', helvetica, arial, sans-serif;
$base-letter-spacing: .02em;
//font weights
$base-font-weight: 300;
$medium-font-weight: 600;
$bold-font-weight: 900;
$base-border-color: $hover-input-border-color;
//font sizes & line heights
$base-font-size: .875rem;
$base-line-height: 1.45;
$small-line-height: 1.25;
$medium-line-height: 1.25rem; /* 20/16 */
$smallest-font-size: .625rem; /* 10/16 */
$smaller-font-size: .75rem; /* 12/16 */
$small-font-size: .875rem; /* 14/16 */
$medium-font-size: 1.125rem; /* 18/16 */
$large-font-size: 1.5rem; /* 24/16 */
$largest-font-size: 2.75rem; /* 44/16 */

// Margins
$small-margin-spacing: .563rem; /* 9/16 */
$mid-margin-spacing: 1rem;
$default-margin-spacing: 1.5rem; /* 24/16 */
$large-margin-spacing: 1.875rem; /* 30/16 */
$xlarge-margin-spacing: 2.875rem; /* 46/16 */
$header-margin-spacing: 1rem; /* 16/16 */
$header-margin-bottom-spacing: .938rem; /* 15/16 */
$large-header-margin-bottom-spacing: .688rem; /* 11/16 */
$h1-header-margin-bottom-spacing: 1.438rem; /* 23/16 */
$default-column-gap-margin: 1rem; /* 16/16 */

// Heading fonts and colors
$heading-color: map-get($gray, dark);
$heading-font-family: 'NeueHaasGrotesk', 'Helvetica Neue', helvetica, arial, sans-serif;

$icon-font-family: 'Duo Admin Icons';

///////// Icons
$trashcan: '\e043';
$lessThanThin: '\e109';
$lessThan: '\e02c';
$downCarret: '\e02f';
$upCarret: '\e108';
$greaterThan: '\e049';
$magnify: '\e02a';
$close: '\e032';
$confirm: '\e033';
$alert: '\e045';
$info: '\e0d0';

// Transitions
$delayed-slow-ease: ease-in-out 200ms 80ms;
$slow-ease: ease-in-out 200ms 0ms;
$fast-ease: ease-in-out 125ms 0ms;
$super-fast-ease: ease-in-out 80ms 0ms;

$border-radius: 4px;

// Duo Prompt specific?
$small-screen-breakpoint: 360px;
$medium-screen-breakpoint: 480px;
$large-screen-breakpoint: 600px;

$labeled-row-button-breakpoint: 505px;
$labeled-row-button-breakpoint-fr-de: 612px;

$height: 330px;

$help-overlay-z: 20;
$darken-overlay-z: 15;
