@import '../../global/variables';
@import '../../global/mixins';

// Overriding the select2 form elements
.base-content,
#modal-add-to-group,
#modal-policy-builder {
    .select2-container,
    .select2-container-multi {
        .select2-choice {
            padding: $size-8 0 0 $size-8;
            height: 42px;
            color: $default-text-color;
            border-color: $default-input-border-color;
            @include border-radius;
            background-color: $white;
            background-image: none;
            @include no-box-shadow;
            .select2-arrow {
                background-color: $white;
                background-image: none;
                padding-top: $size-8;
                border-color: $default-input-border-color;
                @include border-radius(0 3px 3px 0);
            }
        }
        .select2-choices {
            background-image: none;
            .select2-search-choice {
                background-image: none;
                background-color: $white;
                padding-top: 5px;
                padding-bottom: 5px;
                &:hover {
                    color: $primary-button-color;
                    background: none;
                    border-color: $primary-button-color;
                    @include no-box-shadow;
                }
                .select2-search-choice-close {
                    @include no-box-shadow;
                    margin-top: 1px;
                }
            }
        }
        .select2-search-choice-close {
            @include no-box-shadow;
        }
    }
    .select2-dropdown-open {
        .select2-choice {
            background-image: none;
            background-color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}

.select2-drop-active,
.select2-container-active .select2-choice,
.select2-container-multi .select2-choices {
    @include border-radius;
    border-color: $default-input-border-color !important;
}

// this overrides the default styling of the large select 2 multi group boxes when focused or active
.select2-container-multi.select2-container-active .select2-choices {
    box-shadow: none !important;
    border-color: $default-input-border-color !important;
    background-image: none !important;
    border-radius: $border-radius $border-radius 0 0;
}

.select2-drop-active {
    box-shadow: none !important;
    border-color: $default-input-border-color !important;
    background-image: none !important;
    border-radius: 0 0 $border-radius $border-radius;
}

.select2-search {
    input.select2-input {
        background-image: url('../images/select2.png');
        background-repeat: no-repeat;
        background-position: 100% -22px;
        background-color: $white;
    }
}

// Quick fix for select2 coloring issues
.select2-drop.select2-drop-above.select2-drop-active,
.select2-container-multi.select2-container-active .select2-choices {
    border-color: $default-input-border-color !important;
    background-image: none !important;
}

// Override select2 typeface choices
.select2-container-multi .select2-choices .select2-search-field input {
    font-family: $base-font-family !important;
}

// Lets just kill border radius in general for an active select too since it switches between above and below and shares classes
.select2-drop-above,
.select2-container-multi.select2-container-active .select2-choices {
    border-radius: 0 !important;
}

.select2-results .select2-result.select2-highlighted {
    background-color: $select-hover-color !important;
}

// Fix for select2 disabled states
.base-container {
    .select2-container.select2-container-disabled,
    .select2-container-multi.select2-container-disabled {
        .select2-choices {
            @include disabled-input;
        }
    }
}

.search {
    .select2-container {
        font-size: $smaller-font-size;
        color: $default-text-color;
        margin: 2px 5px 5px;
        a {
            .select2-chosen {
                color: $default-text-color;
            }
            .select2-arrow>b {
                margin-top: -2px;
            }
        }
    }

    .select2-dropdown-open {
        a {
            border-color: $hover-input-border-color;
        }
    }
}

//Specific sizes for setting field widths
.select2-container,
.select2-container-multi {
    max-width: 26.25rem; // 420/16
    width: 100%;
}
