@import '../../global/variables';
@import '../../global/mixins';

select {
    @extend %default-input-style;
    // this is here to help position the text in a select field and keep it from cropping for browsers that don't use shadow dom or override the select with it's user agent stylesheet
    line-height: $base-line-height;
    padding-top: $small-padding-spacing;
    padding-bottom: $small-padding-spacing;
    height: 42px; // for what ever reason padding is ignored in chrome?

    &[multiple] {
        height: inherit;
        background-color: $white;
    }

    &[disabled] {
        @include disabled-input;
    }

    // helper widths
    &.wider {
        width: 300px;
    }
}

// this fixes a really random bug due to how the shadow dom sets the align-items in a select field to center when an input field is inline with a select field
input + select {
    vertical-align: middle;
}
