@import '../../global/variables';
@import '../../global/mixins';

textarea {
    @extend %default-input-style;
    line-height: $base-line-height;
    vertical-align: text-top;

    &:not([type="hidden"]) {
        &[read-only],
        &[readonly] {
            background-color: $white;
            border-color: transparent;
            color: $default-text-color;
            padding-left: 0;
            &:hover {
                border-color: $white !important;
                background-color: $white;
            }
        }
    }
}