
// Header and buttons before data tables
.before-data-table {
    @include clearfix;
    position: relative;
    margin-bottom: 5px;

    .table-actions {
        position: absolute;
        bottom: 2px;
        right: 0;
        text-align: right;
        width: 300px;

        .do-button {
            float: right;
            margin-left: 10px;
        }
    }
}

.empty_table {
    color: $disabled-text-color;
    background-color: $white;
    text-align: center;
    padding: 20px 10px;
    @include borders;
    border-radius: $border-radius;
}

.has-helptext {
    border-bottom: 1px dotted #999;
}

.dataTables_wrapper {
    form {
        margin-bottom: 0;
    }

    table {
        width: 100% !important;
        @include border-radius;
        @include borders;
        border-collapse: separate;
    }

    tr {
        height: auto;
        vertical-align: middle;
    }

    thead {
        color: $default-text-color;
        font-size: $base-font-size;
    }

    thead tr {
        text-align: left;
    }

    th {
        font-weight: $bold-font-weight;
        font-size: $smaller-font-size;
        padding: 1rem .5rem 1rem 1.25rem;
        /* 16/16, 8/16, 16/16, 20/16 */

        i {
            font-size: $base-font-size;
        }
    }

    .device-table td {
        vertical-align: top;
    }

    td {
        background-color: $white;
        @include border(top);
        padding: 1rem .5rem 1rem 1.25rem;
        /* 16/16, 8/16, 16/16, 20/16 */

        .indented {
            margin: 0 0 0 24px;
        }
    }
    @mixin sort-arrow($icon) {
        content: $icon;
        font-family: $icon-font-family;
        margin-left: 8px;
        position: absolute;
    }

    .sorting,
    .sorting_asc,
    .sorting_desc {
        cursor: pointer;
        outline: none;

        &.checkbox:after {
            display: none;
        }
    }

    .sorting:after {
        @include sort-arrow( '\e04b');
        font-size: 13px;
    }

    .sorting_desc:after {
        @include sort-arrow( '\e02f');
        font-size: 10px;
    }

    .sorting_asc:after {
        @include sort-arrow( '\e04a');
        font-size: 10px;
    }

    /* Wrapper for controls (pagination, counts, search, etc.) */
    @mixin control-wrapper {
        background-color: #fff;
        color: $default-text-color;
        padding: 24px 16px;
        position: relative;
    }

    .top-control-wrapper {
        @include control-wrapper;
        @include clearfix;
        color: inherit;

        .button-row {
            float: right;
            margin: -10px;

            > div:only-child.download-buttons {
                margin: 0;
            }
        }

        .download-buttons {
            .c--dropdown,
            > a {
                margin-right: 8px;
            }
        }
    }

    .bottom-control-wrapper {
        @include control-wrapper;
        padding-top: 20px;

        > div {
            @include vertical-center;
        }

        select {
            padding: 0;
        }

        td {
            border-bottom: none;
        }
    }

    .loading {
        height: 59vh;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, .7);
        z-index: 9999;
    }

    .checkbox {
        padding: 0;
        width: 12px;
        text-align: center;

        > input[disabled] {
            opacity: .7;
        }

        > label {
            display: block;
            padding: 16px;
        }
    }

    th.checkbox > label {
        padding: 8px 16px;
    }

    // Self clearing
    // http://datatables.net/blog/Creating_beautiful_and_functional_tables_with_DataTables
    &:after {
        content: '.';
        display: block;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .moveable-row {
        cursor: move;

        &:hover {
            color: inherit;
        }
    }

    .plugin-version {
        color: $default-text-color;
        font-size: $small-font-size;
    }
}

.footer-controls {
    line-height: 3rem;
    padding: 10px !important;
}

// Empty tables
.dataTables_empty {
    padding: 20px 0 !important;
    text-align: center;
    vertical-align: top;
}

// Show <10> users
.dataTables_length {
    float: left;
    font-weight: $base-font-weight;

    select {
        width: auto;
    }
}

// Filter
.dataTables_filter {
    margin-right: 38px;
    width: 250px;

    input {
        @include transition(color, border-color, box-shadow);
        width: 100%;
        padding: 6px 6px 6px 24px;
    }
}

// Showing 1-10 of 20 ...
.dataTables_info {
    float: left;
    font-weight: $base-font-weight;
    margin: 0 0 0 30px;
    color: $grey;
}

// Download buttons
.dataTables_download_buttons {
    float: right;
    text-align: right;
    width: 175px;
    margin: 4px 8px 7px 10px;

    a {
        margin-top: 3px;
        margin-left: 10px;
    }
}

// Loading spinner
.dataTables_loading {
    display: none;
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}

.selected-count {
    display: inline-block;
    line-height: 18px;
}

// Custom formatted cells
.result-cell {
    white-space: nowrap;
    text-transform: capitalize;

    &:before {
        width: 16px;
        height: 16px;
        background-size: 16px;
        vertical-align: -3px;
        margin-right: 4px;
        line-height: 12px;
        content: ' ';
        display: inline-block;
    }
    $types: (success, $success-green), (failure, $error-red), (fraud, $error-red), (error, $error-red);
    @each $x in $types {
        $type: nth($x, 1);
        $color: nth($x, 2);

        &.result-#{$type} {
            color: $color;

            &:before {
                background-image: url('/static/images/markers/#{$type}.png');
                @include retina {
                    background-image: url('/static/images/markers/#{$type}@2x.png');
                }
            }
        }
    }
}

.table-wrapper + .table-wrapper {
    margin-top: 1rem;
}

.validation {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.validation:before {
    display: inline-block;
    vertical-align: middle;
}

// Device secure, show a grey check mark using ss-standard font
.validation.valid:before {
    content: '✓';
    color: $grey-light;
}

.simple_table tr:last-child td {
    border-bottom: none;
}

.icon-column {
    vertical-align: top;
    display: inline-block;
    height: 100%;
    float: left;
}

.os-text-column {
    display: inline-block;
    max-width: calc(100% - 25px);
    white-space: nowrap;
}

.browser-text-column {
    display: inline-block;
    width: calc(100% - 25px);
}

.plugin-text-column {
    display: inline-block;
    width: calc(100% - 25px);
}

.warning-text-column {
    display: inline-block;
    width: calc(100% - 25px);
}
