
// Header and buttons before data tables
.before-data-table {
    @include clearfix;
    position: relative;
    margin-bottom: 5px;

    .table-actions {
        position: absolute;
        bottom: 2px;
        right: 0;
        text-align: right;
        width: 300px;

        .do-button {
            float: right;
            margin-left: 10px;
        }
    }
}

.empty_table {
    color: $disabled-text-color;
    background-color: $white;
    text-align: center;
    padding: 20px 10px;
    @include borders;
    border-radius: $border-radius;
}

.dataTables_wrapper {

    form {
        margin-bottom: 0;
    }

    table {
        @include border(top);
        width: 100% !important;
        border-collapse: separate;
        table-layout: auto;
    }

    tr {
        height: auto;
        vertical-align: middle;
    }

    thead {
        color: $default-text-color;
        font-size: $base-font-size;
        background-color: $white;
    }

    thead tr {
        text-align: left;
    }

    th {
        font-weight: $bold-font-weight;
        font-size: $smaller-font-size;
        padding: 1rem .5rem 1rem 1.25rem;
        /* 16/16, 8/16, 16/16, 20/16 */

        i {
            font-size: $base-font-size;
        }
    }

    .device-table td {
        vertical-align: top;
    }

    td {
        white-space: normal;
        background-color: $white;
        padding: 1rem .5rem 1rem 1.25rem;
        /* 16/16, 8/16, 16/16, 20/16 */

        .indented {
            margin: 0 0 0 24px;
        }
    }
    @mixin sort-arrow($icon) {
        content: $icon;
        font-family: $icon-font-family;
        margin-left: 8px;
        position: absolute;
    }

    .sorting,
    .sorting_asc,
    .sorting_desc {
        cursor: pointer;
        outline: none;

        &.checkbox:after {
            display: none;
        }
    }

    .sorting:after {
        @include sort-arrow( '\e04b');
        font-size: 13px;
    }

    .sorting_desc:after {
        @include sort-arrow( '\e02f');
        font-size: 10px;
    }

    .sorting_asc:after {
        @include sort-arrow( '\e04a');
        font-size: 10px;
    }

    /* Wrapper for controls (pagination, counts, search, etc.) */
    @mixin control-wrapper {
        background-color: $white;
        color: $default-text-color;
        padding: 24px 16px;
        position: relative;
    }

    .top-control-wrapper {
        @include control-wrapper;
        @include clearfix;
        border-radius: $border-radius $border-radius 0 0; // this attempts to fix the base container width breaking when browser is scaled
        width: auto !important;
        color: inherit;

        .button-row {
            float: right;
            margin: -10px;

            > div:only-child.download-buttons {
                margin: 0;
            }
        }

        .download-buttons {
            .c--dropdown,
            > a {
                margin-right: 8px;
            }
        }
    }

    .bottom-control-wrapper {
        @include control-wrapper;
        padding-top: 20px;

        > div {
            @include vertical-center;
        }

        select {
            padding: 0;
        }

        td {
            border-bottom: none;
        }
    }

    .loading {
        height: 100vh;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(255, 255, 255, .7);
        z-index: 9999;
    }

    .checkbox {
        padding: 0;
        width: 12px;
        text-align: center;

        > input[disabled] {
            opacity: .7;
        }

        > label {
            display: block;
            padding: 16px;
        }
    }

    th.checkbox > label {
        padding: 8px 16px;
    }

    // Self clearing
    // http://datatables.net/blog/Creating_beautiful_and_functional_tables_with_DataTables
    &:after {
        content: '.';
        display: block;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }

    .moveable-row {
        cursor: move;

        &:hover {
            color: inherit;
        }
    }

    .plugin-version {
        color: $default-text-color;
        font-size: $small-font-size;
    }
}

.footer-controls {
    line-height: 3rem;
    padding: 10px !important;
}

// Empty tables
.dataTables_empty {
    padding: 20px 0 !important;
    text-align: center;
    vertical-align: top;
}

// Show <10> users
.dataTables_length {
    float: left;
    font-weight: $base-font-weight;

    select {
        width: auto;
    }
}

// Filter
.dataTables_filter {
    margin-right: 38px;
    width: 250px;

    input {
        @include transition(color, border-color, box-shadow);
        width: 100%;
        padding: 6px 6px 6px 24px;
    }
}

// Showing 1-10 of 20 ...
.dataTables_info {
    float: left;
    font-weight: $base-font-weight;
    margin: 0 0 0 30px;
    color: $grey;
}

// Download buttons
.dataTables_download_buttons {
    float: right;
    text-align: right;
    width: 175px;
    margin: 4px 8px 7px 10px;

    a {
        margin-top: 3px;
        margin-left: 10px;
    }

    // make the icon smaller in the pdf download button
    i {
        font-size: $smallest-font-size;
    }
}

.table-wrapper + .table-wrapper {
    margin-top: 1rem;
}

.simple_table tr:last-child td {
    border-bottom: none;
}

// remove border on floating table footer to let it fill the full width of the tables
table.fixedHeader-floating {
    border-left: none;
    border-right: none;
}