@import "../global/variables";
@import "../global/mixins";

form:not(.inline) {
    @include box;
    padding: 0;
}

fieldset {
    border: none;
    margin: 1rem 0;
    padding: 0;
}

legend {
    font-size: $base-font-size;
    font-weight: $bold-font-weight;
}

label {
    color: $default-text-color;

    [type=checkbox] + &,
    [type=radio] + & {
        color: inherit;
    }
}

ul.error-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        font-size: $smallest-font-size;
        color: $error-red;
        margin: 2px 0;
    }
}

.description:not(th) {
    background-color: $info-blue-light;
    padding: 1rem;
    margin: -1rem -1rem 1rem;

    > :last-child {
        margin-bottom: 0;
    }

    &.secure-payment {
        background: #FFFFB0 url('/static/images/lock.png') no-repeat 11px 14px;
        color: #333;
        padding-left: 50px;
        padding-right: 90px;
    }
}

.line {
    @include clearfix;
    clear: both;
    padding: $default-margin-spacing 0;
    @include border(bottom);

    &:not(.vertical) > label:first-of-type {
        font-weight: $bold-font-weight;
        font-size: $smaller-font-size;
        min-width: 12rem;
        padding-top: 2px;
        padding-left: $xlarge-margin-spacing;
        line-height: 18px;
    }

    .field {
        float: left;
        width: calc(100% - 13rem);
    }

    &.close {
        margin-top: -0.75rem;
    }

    &.indent {
        margin-left: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &:last-child {
        margin-bottom: 0;
        border: initial;
        border: unset;
    }

    .flexbox &:not(.vertical) {
        display: flex;
        align-items: baseline;

        &.hidden {
            display: none;
        }

        .field {
            flex: 1 0 0;
            margin-left: 1rem;
        }
    }
}

.a--line-padding-border-reset {
    padding: inherit; // for IE
    padding: unset;
    border: inherit; // for IE
    border: unset;
    margin-bottom: $default-margin-spacing;
}

.subline {
    display: block;
    margin-bottom: .25rem;
}

.indent {
    margin-left: 2rem;
}

.actions {
    padding: $default-margin-spacing .25rem $large-margin-spacing 13rem;
}

.has_error {
    color: $error-red;
    font-weight: bold;
}

.access-read-only {
    input.text[readonly],
    textarea[readonly] {
        border: none;
        box-shadow: none;
    }

    textarea[readonly] {
        background: none;
        resize: none;

        &:focus {
            outline: none;
        }
    }
}

// FORM ELEMENTS
button,
input,
select,
textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;

    &.error {
        border-color: $error-red-light;
    }
}

button,
input {
    line-height: normal;
}

select[multiple] {
    height: inherit;
    background-color: #ffffff;
}

select[disabled] {
    color: $grey;
    border-color: $base-border-color;
    background-color: $disabled-input-color;
    cursor: not-allowed;
}

input,
textarea {
    @include transition(color, border-color, box-shadow);

    font-family: $base-font-family;
    padding: .5rem;
    width: 100%;

    &.half-width {
        width: 50%;
    }

    &.valid,
    .line.valid & {
        border-color: $success-green-light;
    }

    &.invalid,
    .line.invalid & {
        border-color: $error-red-light;
    }

    // normalize prefixes the selector with html for... some reason
    html &[disabled] {
        color: $grey;
        background-color: $disabled-input-color;
        cursor: not-allowed;
    }
}

// override to visually hide the number spinner for mozilla browser
input[type=number] {
    -moz-appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

input[type=checkbox] {
    width: auto;
    margin-right: .25rem;

    &:focus {
        @include box-shadow;
    }
}

input[type=radio] {
    -webkit-appearance: unset;
    -moz-appearance: unset;
    appearance: unset;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-right: .25rem;
    padding: 2px;
    @include borders($border-color: #ccc);

    &:checked {
        &:after {
            content: '';
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: $default-link-color;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}

input[type=tel] {
    &:focus {
        color: $grey-darker;
        border: 2px solid $duo-green;
        box-shadow: 0 0 5px 0 transparentize($duo-green, 0.5);
    }
}

textarea {
    vertical-align: text-top;
}

#feedback {
    display: none;
    margin-top: 5px;

    textarea {
        width: 162px;
        margin-bottom: 8px;
    }
}

.feedback-thanks {
    display: none;
}

.field.final-help {
    background-color: #FFFFB0;
    padding: 12px 12px 1px;
    margin-right: 30px;
    margin-bottom: 5px;
}

select.wider {
    width: 300px;
}

.option-box {
    width: auto;
}

.search {
    .select2-container {
        font-size: $smaller-font-size;
        color: $default-text-color;
        margin: 2px 5px 5px;

        a {
            .select2-chosen {
                color: $default-text-color;
            }

            .select2-arrow > b {
                margin-top: -2px;
            }
        }
    }
    .select2-dropdown-open {
        a {
            border-color: $hover-input-border-color;
        }
    }
}

.select2-link {
    margin-left: .5rem;
}

.line-height {
    line-height: $base-line-height;
}

/* override datatables styles */
table.fixedHeader-floating {
    border-collapse: separate;
    border-radius: 0 0 $border-radius $border-radius;
    @include borders;

    > tfoot {
        box-shadow: initial;
        box-shadow: unset;

        > tr {
            box-shadow: initial;
            box-shadow: unset;
        }
    }
}
