@import "../global/variables";
@import "../global/mixins";

// XXX If this is changed, the kludgy timeout in addTransitionEndHandler
// in modal.js should be adjusted also
$animation-duration: 250ms;

.noscroll {
    overflow: hidden;
}

.overlay {
    background: rgba(0, 0, 0, 0.4);

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;

    position: fixed;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 1000;

    &.hidden {
        display: none;
    }
}

.modal {
    background-color: $white;
    position: relative;
    border: none;
    border-radius: 0;

    // set a min width for modals because otherwise they can get pretty small
    min-width: 43.75rem; /* 700/16 */
    // set a max width because of the same wonkiness
    max-width: 50rem; /* 800/16 */

    // TODO-XXX: Z-index needed when using frameserv/.../v3/modal.js,
    // but not static/shared/js/modal.js
    // This is because the former doesn't make .modal a child of .overlay,
    // whose z-index is 1000.
    z-index: 1001;

    &.hidden {
        display: none;
    }
    .c--primary,
    .button,
    button {
        // Fix for IE11 and 10 (Edge works well):
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            padding-top: .35rem;
        }

    }
}

.ie9 .modal {
    // IE9 hacks due to no flex support
    // XXX .no-flexbox is not applied correctly, so we use .ie9 instead.
    margin: auto;
    top: 50%;
    -ms-transform: translate(0, -50%);
}

form.modal {
    padding: 0;
}

.modal-fixed {
    height: 90%;
    margin: auto;
    max-width: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 90%;
}

.modal-fixed-content,
.modal-fixed-footer,
.modal-fixed-header {
    left: 0;
    position: absolute;
    right: 0;
}

.modal-fixed-content {
    top: 65px;
    bottom: 80px;
}

.modal-fixed-footer {
    height: 80px;
    bottom: 0;
}

.modal-fixed-header {
    height: 80px;
    top: 0;
}

.modal-auto {
    transition: opacity $animation-duration ease-in-out;
}

.modal-footer,
.modal-header {
    padding: $large-margin-spacing 4rem $small-margin-spacing $xlarge-margin-spacing;
}

.modal-footer {
    padding-bottom: $large-margin-spacing;
}

.a--header-red {
    color: $error-red;
}

.modal-header {
    padding-bottom: 0;

    .modal-close {
        color: $default-text-color;
        font-size: .875rem;
        position: absolute;
        right: 1.75rem; /* 28/16 */
        text-decoration: none;
        top: 2.125rem;

        &:hover {
            color: $default-text-color;
        }
    }
}

.modal-content {
    padding: $large-margin-spacing 4rem $large-margin-spacing $xlarge-margin-spacing;
    overflow-y: auto;
}

.modal-footer {
    @include border(top);
}

/* lets put some space between the buttons in a button group */
.button-group {
    button + button {
        margin-left: $small-margin-spacing;
    }
}
