@import '../../global/variables';
@import '../../global/mixins';

.dpl-filter--content {
    // set to same row as filter nav
    grid-row: 1; // set to over lap columns with filter nav and extend to end of page
    grid-column: 1/end;
    will-change: transform;
    transition: transform ease-in-out 225ms 0ms;
    background-color: $white;

    &.\--is-closed {
        transform: translateX(0);
    }

    &.\--is-open {
        transform: translateX($filter-container-width);
    }
}