@import '../../global/variables';
@import '../../global/mixins';

// Style the progress loading bar TODO this should get elevated out of these styles and be globally accessable when ready
@keyframes loading-bar {
    0% {
        transform: scaleX(0);
    }
    20% {
        transform: scaleX(.2);
    }
    40% {
        transform: scaleX(.6);
    }
    100% {
        transform: scaleX(1);
    }
}

.dpl-loading--container {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    height: $size-4;
    transition: opacity $fast-ease, visibility $fast-ease;
    z-index: 9000; // make visible if currently loading
    &.\--is-active {
        opacity: 1;
        visibility: visible;
        .dpl-loading--progress {
            animation: loading-bar 3s ease-in-out 0s forwards;
        }
    }
}

.dpl-loading--progress {
    display: block;
    height: $size-4;
    background: linear-gradient(90deg, $hover-gradient-button-top, $hover-gradient-button-bottom);
    transform-origin: left;
    will-change: transform;
}
