// Normalize includes both SCSS and CSS files, so specify the extension to
// avoid ambiguity.
@import 'reference/normalize/normalize.scss';

//Import global sass functions and variables
@import 'global/variables';
@import 'global/mixins';
@import 'global/extends';

// Pull in all fonts used
@import 'fonts/all-fonts';

// Pull in all atomic classes
@import 'atoms/all-atoms';

// Get all the various styles used to make up non modualized style patterns TODO: finish modualizing all these
@import 'reference/duo';

// Pull in all component patterns
@import 'components/all-components';

// Pull in all global layout classes
@import 'layout/all-layout';

// We should start a helper class section here for specific overrides