.bulk-selector-wrap {
    padding: 0;
    border: none;
    display: flex;
    float: left;
    margin-top: -10px;

    &:hover,
    &:focus,
    &:active {
        border: none;
        box-shadow: none;
    }

    .a--dropdown-trigger {
        @extend .button;

        &:hover {
            text-decoration: none;
            box-shadow: none;
        }
    }

    .bulk-selector {

        .a--dropdown-trigger {
            display: flex;
            padding: .5rem 1.25rem .3rem;
            border-right: 0;
            border-radius: $border-radius 0 0 $border-radius;
            margin-right: 0;
            line-height: $size-24;
            min-height: $size-40;

            &:before {
                padding: 0 0 2px 2px;
            }
        }

        .a--dropdown-content[aria-hidden="false"] {
            left: -27px;
            right: 0;
        }
    }

    .bulk-actions {

        .a--dropdown-trigger {
            padding: .65rem 1.25rem .4rem;
            border-radius: 0 $border-radius $border-radius 0;
            line-height: 5px;
            min-height: $size-40;
            font-size: 1.5rem;
            margin-left: 0;

            &:before {
                content: '';
                display: block;
            }

            &[aria-expanded="true"]:after {
                right: 17px;
                bottom: -0.67em;
            }

            &.active {
                background: linear-gradient($primary-button-gradient-start, $primary-button-gradient-end);
                border-color: transparent;
                color: $white;

                & + .action-list a {
                    cursor: pointer;
                }
            }

            /* margins for spacer up next, see nth-last-child(2) */
            /* adds horizontal rule */
            & + .action-list #delete {
                margin-top: 15px;
            }

            /* adds horizontal rule */
            & + .action-list #delete {
              border-top: 1px solid $base-border-color;
            }

            & + .action-list a {
                cursor: default;

                &.a--destruction {
                    margin-top: 12px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                }
            }
        }
    }
}
