&.c--primary {
    color: $white;
    background: linear-gradient($primary-button-gradient-start, $primary-button-gradient-end, $hover-gradient-button-top, $hover-gradient-button-bottom);
    border-color: transparent;
    transition: background-position $fast-ease;
    background-position: 0% 50%;

    &:hover {
        // background: linear-gradient($hover-gradient-button-top, $hover-gradient-button-bottom);
        background-position: 100% 50%;
        border-color: $primary-border-hover-color;
    }

    &:focus {
        @include box-shadow(0 0 0 2px $default-button-color);
    }

    &:active {
        @include box-shadow(inset 0 0 10px -1px $primary-boxshadow-color);
        background-color: linear-gradient($primary-button-gradient-start, $primary-button-gradient-end);
        border-color: transparent;
        color: $white;
    }
}
