.support {
    font-size: $smaller-font-size;
    padding: 1.563rem .75rem 2rem 1.563rem; /* 25/16, 25/16 */
    border-top: solid 1px $nav-border-color;
    color: $white;

    h2,
    h3 {
        color: $white;
        font-family: $base-font-family;
        font-size: $smaller-font-size;
        font-weight: $bold-font-weight;
        line-height: 1;
        margin-bottom: 0.25rem;
    }

    h2 {
        margin-top: 0;
    }

    .helpful-links {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            color: $white;
            text-decoration: underline;
            i {
                color: $white;
            }
        }

        dd,
        dt {
            margin-left: 0;
            display: block;
            font-weight: normal;
        }

        dt {
            margin-top: 0.875rem;
            font-weight: $bold-font-weight;
            &:first-child {
                margin-top: 0;
            }
        }

        dd {
            margin-bottom: .25rem; // 4/16 set to 4px to add some breathing room
        }
    }
}
