// States for alerts, buttons, etc
$success-green: map-get($green, success);
$success-green-light: lighten($success-green, 38%);
$success-green-lightest: lighten($success-green, 43%);
$error-red: map-get($red, alert);
$error-red-light: lighten($error-red, 29%);
$error-red-lightest: lighten($error-red, 33%);
$error-red-dark: map-get($red, darker);
$info-blue: map-get($blue, cta);
$info-blue-light: #F5F7FA;
$info-blue-border: #E8EDF3;
$warning-orange: map-get($orange, warn);
$warning-orange-light: lighten($warning-orange, 23%);
$warning-orange-lightest: lighten($warning-orange, 28%);
$warning-orange-border: #ebcfbe;

// Base colors, fonts and sizes
$base-color: map-get($gray, dark);
$base-link-color: map-get($blue, cta);

// Disabled
$disabled-opacity: .5;
$disabled-color: transparentize($base-color, $disabled-opacity);
$disabled-input-color: rgb(235, 235, 228);

// Platform colors
$chrome-green: #68cf6a;
$safari-red: #fe5255;
$firefox-orange: #f9923e;
$ie-blue: #3eb2ef;
$edge-blue: #2e6fb3;
$macosx-blue: #08c0e5;
$windows-green: #1e896f;
$managed-device-blue: #379ed4;

// Graph Colors
$graph-color-1: #407DB2;
$graph-color-2: #EE7450;
$graph-color-3: #466172;
$graph-color-4: #FCC46A;
$graph-color-5: #8C8778;
$graph-color-6: #7EB3FF;
$graph-color-7: #A08CC6;
$graph-color-8: #778FA1;
$graph-positive: map-get($green, info);
$graph-negative: map-get($red, alert);
$graph-neutral: #688daf;
