//// Color name translations
// Header names
$default-header-color: map-get($gray, dark);
$mid-header-color: map-get($gray, mid);
$light-header-color: map-get($gray, light);

// Text names
$default-text-color: map-get($gray, dark);
$mid-text-color: map-get($gray, mid);
$disabled-text-color: map-get($gray, disabled);
$pagination-text-color: map-get($gray, mid);
$button-text-color: map-get($blue, cta);

// Link names
$default-link-color: map-get($blue, link);
$dropdown-link-hover-color: map-get($blue, cta-light);

// Button names
$default-button-color: map-get($blue, cta);
$default-button-hover-color: map-get($blue, cta-light);
$primary-button-color: map-get($blue, cta);
$primary-button-gradient-start: map-get($blue, cta-light);
$primary-button-gradient-end: map-get($blue, cta);
$primary-button-hover-color: map-get($blue, cta-light);
$destructive-button-color: map-get($red, alert);
$destructive-button-hover-color: map-get($red, darker);
$disabled-button-color: map-get($gray, lightest);
$disabled-pagination-color: map-get($gray, light);
$download-button-hover-color: map-get($blue, cta);

// Border names
$default-border-color: map-get($blue, lightest);
$dark-border-color: map-get($blue, cta);
$button-border-color: map-get($gray, cta);
$button-border-hover-color: map-get($blue, cta-light);
$primary-border-color: map-get($blue, cta);
$primary-border-hover-color: map-get($blue, cta-light);
$default-input-border-color: map-get($gray, light);
$hover-input-border-color: map-get($gray, dark);

// Box Shadows
$default-boxshadow-color: map-get($gray, dark);
$primary-boxshadow-color: map-get($blue, cta);
$destructive-boxshadow-color: map-get($red, darker);

// Dropshadow
$default-dropshadow-color: map-get($gray, dropshadow);

// Form elements
$select-hover-color: map-get($blue, cta);

// UI Elements
$search-icon-color: map-get($gray, mid);

// Modal/Messages
$default-message-background-color: map-get($blue, cta);

// Main Nav
$nav-state-color: map-get($gray, nav-active);
$nav-active-tab-color: map-get($green, nav-tab);
$nav-background-color: map-get($gray, dark);
$nav-text-color: $white;
$nav-border-color: map-get($gray, nav-border);
$default-headernav-color: map-get($gray, headernav);

// Background Colors
$lightest-background-color: map-get($gray, lightest);
$body-background-color: map-get($gray, background);

// Table Colors
$hover-table-cell: map-get($gray, headernav);

// Message box colors
$default-message-background-color: map-get($gray, headernav);
$default-message-border-color: map-get($blue, lightest);

// Misc metrics
$disabled-opacity: .5;
$disabled-color: transparentize($base-color, $disabled-opacity);
$disabled-input-color: rgb(235, 235, 228);

// Toggle Colors
$toggle-enabled: map-get($blue, cta);
$toggle-disabled: map-get($gray, light);

// Table Colors TODO: replace these once we figure out how to roll out whole new color scheme
$dark-filter-border: #B3C1CD;
$default-table-button: #455C63;
$gradient-table-button: #F4F6F8;
$default-table-button-border: #CDD2D5;
$focus-button-border: #BEBEBE;
$focus-secondarybutton-border: #396B9F;
$hover-button-border: #3D8ADA;
$hover-gradient-button-top: #53A1F4;
$hover-gradient-button-bottom: #3792F2;
$hover-gradient-select-top: #F7F7F7;
$hover-gradient-select-bottom: #E2E5E7;
$active-button-shadow-1: rgba(58, 115, 178, .5);
$active-button-shadow-2: rgba(56, 90, 137, .5);
$focus-radio-border: #A2CFFF;
$filter-panel-background: #FAFAFA;
$filter-item-background-hover: #F7F9FA;
$table-item-background-hover : #EDF6FF;
$dark-border: #B3C1CD;
$default-border: #E4ECF1;
$hover-pill-background: #EDF6FF;
$color-dropdown-box-shadow: #CECECE;
$date-range-startend: map-get($green, info);
$date-range-selected: #F4FFEF;
$default-input-background: #FAFAFA;
$radio-check-background-gradient-top: $white;
$radio-check-background-gradient-bottom: #F4F6F8;