@import '../../global/variables';
@import '../../global/mixins';

.dpl-rule--horizontal {

    &--thick {
        margin-left: -$large-margin-spacing;
        margin-right: -$default-margin-spacing;
        height: $size-8;
        box-shadow: inset 0 1px 0 $rule-box-shadow-color;
        background-color: $rule-background-color;
        border: none;
    }
}